@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fbf9f8;
    color: #1b1c1c;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, .font-editorial {
    font-family: 'Playfair Display', serif;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f5f3f3;
}

::-webkit-scrollbar-thumb {
  background: #d5d3d2;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #916f65;
}
